* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F3F3F3
}

.flexbox {
  display: flex;
  flexDirection: column;
}

/*.flexbox {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  width: 100%;*/
/*  max-width: 600px;*/
/*  height: 800px;*/

/*  overflow: hidden;*/
/*  margin: 0 auto;*/
/*  padding: 15px;*/
/*}*/

/*.flexbox .board {*/
/*  display: flex;*/
/*  flex-direction: column;*/

/*  width: 100%;*/
/*  max-width: 300px;*/
/*  color: greenyellow;*/
/*  background-color: #313131;*/
/*  margin-left: 20px;*/
/*  margin-right: 20px;*/
/*  padding:15px;*/

/*}*/

/*.flexbox .board .card {*/
/*  padding: 25px 25px;*/
/*  background-color: #bfbfbf;*/
/*  color: blue;*/
/*  cursor: pointer;*/
/*  margin-bottom: 15px;*/

/*}*/